{% extends 'base.html' %}
{% block content %}

  <form method="POST" action="{% url 'address:index' %}" class="mb-3">
    {% csrf_token %}
    <div class="input-group mb-3">
    <input type="text" class="form-control col-auto mr-3" id="inputAddress" name="address" aria-describedby="addressHelp" placeholder="Enter Address" value={{ address }}>
    <div class="input-group-append">
    <button type="submit" class="btn btn-primary col-auto">Submit</button>
    </div>
    </div>
</form>

<ul class="list-group">
{% for store in context.stores %}
  <li class="list-group-item">
		{% include 'store.html' with store=store %}
</li>
{% endfor %}
</ul>
{% endblock content %}
