{% extends 'base.html' %}
{% block content %}
{% for region, stores in querydict.items %}
<h3>{{ region }}</h3>
<div class="card border-secondary mb-3 p-3" >
{% for store in stores %}
<div class="d-flex justify-content-between align-items-center">
<div class="col-auto">
{% include 'store.html' with store=store %}
</div>
<a href={% url 'stock:detail' store.name %} class="btn btn-info ml-3">
<span>Link</span>
</a>
</div>
{% endfor %}
</div>
<hr class="my-4">
{% endfor %}
{% endblock content %}



a = requests.get(     ).content
